/* Intro text styles */
.intro {
  color: #fff;
  text-align: center;
  font-family: "Holtwood One SC", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-top: 200px;
}

.intro-sub {
  color: #fff;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

/* Cover section styles */
.coverSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

/* Background image */
.coverSection img {
  height: 550px;
}

/* MyImage styles */
.myImage {
  max-height: 500px;
  border-radius: 400px 400px 0px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Responsive styles for smaller screens */
@media (min-width:394px) {
  .coverSection img {
    height: 500px;
  }

}

@media (Min-width: 768px) {

  .coverSection img {
    height: 550px;
  }
  .intro{
    margin-top: 30px;
  }
  .introSub{
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .myImage {
    max-height: 400px;
    border-radius: 300px 300px 0px 0px;
  }

  .coverSection img {
    height: 650px;
  }
  .intro{
    margin-top: 30px;
  }
  .introSub{
    margin-top: 10px;
  }
}
