#brand {
  color: #000;
  font-family: "Holtwood One SC", serif;
  font-size: 31px;
  /* font-style: normal; */
  font-weight: 400;
  line-height: normal;
}
.nav-link {
  color: #000;
  font-family: 'Henny Penny', cursive;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
margin-right: 20px;
}
