.project-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  .project-img {
    height:200px;

    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .project-title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 10px;
  }
  
  .project-description {
    font-size: 1rem;
  }
  